<div class="d-flex gap-2">
  <div class="sidebar flex-shrink-0 d-flex flex-column" [class.sidebar-collapsed]="!expanded">
    <header class="d-flex pt-4 gap-2 align-items-center">
      <img src="/built-in-ai-playground-logo.svg" alt="Built-In AI Playground Logo" class="d-block"/>
      <h1 class="title h6 flex-grow-1">Built-In AI Playground</h1>
    </header>

    <nav class="mt-5 ms-2 me-2 flex-grow-1">
      <ul class="list-unstyled">
        <li [class.active]="this.currentRoute === 'translator-api'"><a class="btn"
                                                                       routerLink="/browser-ai/translator-api"><i
          class="bi bi-translate"></i> <span>Translator API</span></a></li>
        <li [class.active]="this.currentRoute === 'language-detector-api'"><a class="btn"
                                                                              routerLink="/browser-ai/language-detector-api"><i
          class="bi bi-globe"></i> <span>Language Detector API</span></a></li>
        <li [class.active]="this.currentRoute === 'writing-assistance-apis'"><a class="btn"
                                                                                routerLink="/browser-ai/writing-assistance-apis"><i
          class="bi bi-pencil-square"></i> <span>Writing Assistance APIs</span></a></li>
        <li [class.active]="this.currentRoute === 'prompt-api'"><a class="btn" routerLink="/browser-ai/prompt-api"><i
          class="bi bi-input-cursor-text"></i> <span>Prompt API</span></a></li>
      </ul>
    </nav>

    <button class="btn btn-sidebar p-3" (click)="toggleSidebar()"><i class="bi bi-layout-sidebar"></i></button>
  </div>

  <div class="flex-grow-1 content">
    <router-outlet></router-outlet>
  </div>
</div>
