<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="row mb-3">
    <div class="col-12">
      <h1>Writing Assistance APIs</h1>

      <h3 class="mt-3">Input:</h3>
      <textarea class="form-control" rows="3" [formControl]="inputFormControl"></textarea>

      <h3 class="mt-3">Shared Context:</h3>
      <textarea class="form-control" rows="3" [formControl]="sharedContextFormControl"></textarea>

    </div>
  </div>

  <hr>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link" [class.active]="activeTab === 0" (click)="activeTab = 0" aria-current="page" href="#">Writer
        API</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="activeTab === 1" (click)="activeTab = 1" href="#">ReWriter API</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="activeTab === 2" (click)="activeTab = 2" href="#">Summarizer API</button>
    </li>
  </ul>

  <div class="row">
    <div class="col-12">
      <div class="border border-top-0 p-3">
        @switch (activeTab) {
          @case (0) {
            <app-writer
              [tone]="writerTone"
              (toneChange)="writerToneChange()"
              [format]="writerFormat"
              (formatChange)="writerFormatChange()"
              [length]="writerLength"
              (lengthChange)="writerLengthChange()"
              [useStreaming]="writerUseStreaming"
              (useStreamingChange)="writerUseStreamingChange()"
              [input]="inputFormControl.value ?? ''"
              [sharedContext]="sharedContextFormControl.value ?? ''"

            ></app-writer>

          }
        }
      </div>


    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-md-4">
      <h3>Rewriter API</h3>

      <h4>Requirements</h4>

      <table class="table">
        <thead>
        <tr>
          <th>Step</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Activate <br><span class="code">chrome://flags/#rewriter-api-for-gemini-nano</span></td>
          <td>
            @if (requirements.rewriterApiFlag.status === RequirementStatus.Pending) {
              <div class="text-primary">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                {{ requirements.rewriterApiFlag.message }}
              </div>
            } @else if (requirements.rewriterApiFlag.status === RequirementStatus.Pass) {
              <div class="text-success">
                <i class="bi bi-check-circle-fill text-success"></i>
                {{ requirements.rewriterApiFlag.message }}
              </div>
            } @else if (requirements.rewriterApiFlag.status === RequirementStatus.Fail) {
              <div class="text-danger">
                <i class="bi bi-x-circle-fill"></i>
                {{ requirements.rewriterApiFlag.message }}
              </div>
            }
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btn-sm btn-outline-primary" (click)="checkRewriterRequirements()"><i
        class="bi bi-arrow-clockwise"></i>
        Check requirements
      </button>

    </div>
    <div class="col-12 col-md-4">
      <h3>Summarizer API</h3>


      <h4>Requirements</h4>

      <table class="table">
        <thead>
        <tr>
          <th>Step</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Activate <br><span class="code">chrome://flags/#summarization-api-for-gemini-nano</span></td>
          <td>
            @if (requirements.summarizerApiFlag.status === RequirementStatus.Pending) {
              <div class="text-primary">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                {{ requirements.summarizerApiFlag.message }}
              </div>
            } @else if (requirements.summarizerApiFlag.status === RequirementStatus.Pass) {
              <div class="text-success">
                <i class="bi bi-check-circle-fill text-success"></i>
                {{ requirements.summarizerApiFlag.message }}
              </div>
            } @else if (requirements.summarizerApiFlag.status === RequirementStatus.Fail) {
              <div class="text-danger">
                <i class="bi bi-x-circle-fill"></i>
                {{ requirements.summarizerApiFlag.message }}
              </div>
            }
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btn-sm btn-outline-primary" (click)="checkSummarizerRequirements()"><i
        class="bi bi-arrow-clockwise"></i>
        Check requirements
      </button>

    </div>
  </div>
</div>
