<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="row mb-3">
    <div class="col-12">
      <h1>Writing Assistance APIs</h1>

      <h3 class="mt-3">Input:</h3>
      <textarea class="form-control" rows="3"></textarea>

      <h3 class="mt-3">Shared Context:</h3>
      <textarea class="form-control" rows="3"></textarea>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12 col-md-4">
      <h3>Writer API</h3>
      <a href="https://github.com/webmachinelearning/writing-assistance-apis?tab=readme-ov-file#writer-api"
         target="_blank">Explainer</a>

      <h4 class="mt-3">Requirements</h4>

      <table class="table">
        <thead>
        <tr>
          <th>Step</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Activate <br><span class="code">chrome://flags/#writer-api-for-gemini-nano</span></td>
          <td>
            @if (requirements.writerApiFlag.status === RequirementStatus.Checking) {
              <div class="text-primary">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                {{ requirements.writerApiFlag.message }}
              </div>
            } @else if (requirements.writerApiFlag.status === RequirementStatus.Pass) {
              <div class="text-success">
                <i class="bi bi-check-circle-fill text-success"></i>
                {{ requirements.writerApiFlag.message }}
              </div>
            } @else if (requirements.writerApiFlag.status === RequirementStatus.Fail) {
              <div class="text-danger">
                <i class="bi bi-x-circle-fill"></i>
                {{ requirements.writerApiFlag.message }}
              </div>
            }
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btn-sm btn-outline-primary" (click)="checkWriterRequirements()"><i
        class="bi bi-arrow-clockwise"></i>
        Check requirements
      </button>

      <h4 class="mt-4">Options</h4>


      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label for="writer-tone" class="form-label">Tone</label>
            <app-search-select-dropdown id="writer-tone" [options]="WriterToneEnum | enumToSearchSelectDropdownOptions"
                                        [control]="writerToneFormControl"
                                        [name]="'writerTone'"></app-search-select-dropdown>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="writer-format" class="form-label">Format</label>
            <app-search-select-dropdown id="writer-format"
                                        [options]="WriterFormatEnum | enumToSearchSelectDropdownOptions"
                                        [control]="writerFormatFormControl"
                                        [name]="'writerFormat'"></app-search-select-dropdown>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="writer-length" class="form-label">Length</label>
            <app-search-select-dropdown id="writer-length" [options]="WriterLengthEnum | enumToSearchSelectDropdownOptions"
                                        [control]="writerLengthFormControl"
                                        [name]="'writerLength'"></app-search-select-dropdown>
          </div>
        </div>

        <div class="col-6">
          <div class="mb-3">
            <label for="writer-expected-input-languages" class="form-label">Expected Input Languages</label>
            <app-search-select-dropdown id="writer-expected-input-languages" [options]="[]"
                                        [name]="''"></app-search-select-dropdown>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="writer-expected-context-languages" class="form-label">Expected Context Languages</label>
            <app-search-select-dropdown id="writer-expected-context-languages" [options]="[]"
                                        [name]="''"></app-search-select-dropdown>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="writer-output-language" class="form-label">Output Language</label>
            <app-search-select-dropdown id="writer-output-language" [options]="[]" [name]="''"></app-search-select-dropdown>
          </div>

        </div>
      </div>






      <button class="btn btn-primary">Write</button>

      <div class="card mt-3">
        <div class="card-header d-flex">
          <h4 class="flex-grow-1">Output</h4>

          <button class="btn btn-outline-primary btn-sm">Copy to Input box</button>
        </div>
        <div class="card-body"></div>
      </div>


    </div>
    <div class="col-12 col-md-4">
      <h3>Rewriter API</h3>

      <h4>Requirements</h4>

      <table class="table">
        <thead>
        <tr>
          <th>Step</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Activate <br><span class="code">chrome://flags/#rewriter-api-for-gemini-nano</span></td>
          <td>
            @if (requirements.rewriterApiFlag.status === RequirementStatus.Checking) {
              <div class="text-primary">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                {{ requirements.rewriterApiFlag.message }}
              </div>
            } @else if (requirements.rewriterApiFlag.status === RequirementStatus.Pass) {
              <div class="text-success">
                <i class="bi bi-check-circle-fill text-success"></i>
                {{ requirements.rewriterApiFlag.message }}
              </div>
            } @else if (requirements.rewriterApiFlag.status === RequirementStatus.Fail) {
              <div class="text-danger">
                <i class="bi bi-x-circle-fill"></i>
                {{ requirements.rewriterApiFlag.message }}
              </div>
            }
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btn-sm btn-outline-primary" (click)="checkRewriterRequirements()"><i
        class="bi bi-arrow-clockwise"></i>
        Check requirements
      </button>

    </div>
    <div class="col-12 col-md-4">
      <h3>Summarizer API</h3>


      <h4>Requirements</h4>

      <table class="table">
        <thead>
        <tr>
          <th>Step</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Activate <br><span class="code">chrome://flags/#summarization-api-for-gemini-nano</span></td>
          <td>
            @if (requirements.summarizerApiFlag.status === RequirementStatus.Checking) {
              <div class="text-primary">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                {{ requirements.summarizerApiFlag.message }}
              </div>
            } @else if (requirements.summarizerApiFlag.status === RequirementStatus.Pass) {
              <div class="text-success">
                <i class="bi bi-check-circle-fill text-success"></i>
                {{ requirements.summarizerApiFlag.message }}
              </div>
            } @else if (requirements.summarizerApiFlag.status === RequirementStatus.Fail) {
              <div class="text-danger">
                <i class="bi bi-x-circle-fill"></i>
                {{ requirements.summarizerApiFlag.message }}
              </div>
            }
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btn-sm btn-outline-primary" (click)="checkSummarizerRequirements()"><i
        class="bi bi-arrow-clockwise"></i>
        Check requirements
      </button>

    </div>
  </div>
</div>
