<div class="container-fluid">

  <a href="/" class="btn btn-light mt-4 mb-4"><i class="bi bi-house"></i> Home</a>

  <h2>Prompt API</h2>

  <div class="form-group">
    <label for="prompt">Prompt</label>
    <textarea class="form-control" rows="10" id="prompt" placeholder="Enter your prompt here"></textarea>
  </div>

  <h3>Image</h3>

  <file-drag-and-drop-file-system-handle>
    <div class="d-flex flex-column h-100">
      <div class="align-content-center flex-fill">
        <i class="bi bi-images "></i>
        Drag and drop an image here
      </div>
    </div>
  </file-drag-and-drop-file-system-handle>
</div>
