<main class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>chromium.etiennenoel.com</h1>

      <h2>Browser AI APIs</h2>

      <a class="btn btn-light me-2" routerLink="/browser-ai/translator-api"><i class="bi bi-translate"></i> Translator API</a>
      <a class="btn btn-light me-2" routerLink="/browser-ai/language-detector-api"><i class="bi bi-globe"></i> Language Detector API</a>
      <a class="btn btn-light me-2" routerLink="/browser-ai/writing-assistance-apis"><i class="bi bi-pencil-square"></i> Writing Assistance APIs</a>
      <a class="btn btn-light me-2" routerLink="/browser-ai/prompt-api"><i class="bi bi-input-cursor-text"></i> Prompt API</a>

      <h2 class="mt-4">File and Directories</h2>

      <a class="btn btn-light me-2" href="js-file-downloads/index.html"><i class="bi bi-folder"></i> JS File Downloads</a>

      <a class="btn btn-light me-2" href="directory/index.html">Files and Directory</a>
      <a class="btn btn-light me-2" href="show-save-file-picker/index.html"><i class="bi bi-floppy"></i> Show Save File Picker</a>
      <a class="btn btn-light me-2" href="file-system-change-observers/index.html"><i class="bi bi-binoculars"></i> File System Change Observers</a>


      <h2>Others</h2>
      <a class="btn btn-light me-2" href="opfs/index.html"><i class="bi bi-archive"></i> OPFS</a>
      <a class="btn btn-light me-2" href="websql-deprecation-initiative/index.html"><i class="bi bi-database"></i> WebSQL Deprecation Initiative</a>
      <a class="btn btn-light me-2" href="sqlite-wasm/index.html"><i class="bi bi-database"></i> SQLite WASM</a>


      <a class="btn btn-light me-2" href="data-transfer/index.html"><i class="bi bi-clipboard"></i> Data Transfer</a>
      <a class="btn btn-light me-2" href="issues/index.html"><i class="bi bi-bug"></i> Issues</a>

      <h2>AI</h2>
      <a class="btn btn-light me-2" href="prompt-api/index.html"><i class="bi bi-robot"></i> Prompt API</a>
    </div>
  </div>

</main>
