/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.code {
  background-color: $primary-bg-subtle;
  border: 1px solid $primary-border-subtle;
  padding: 3px;
  border-radius: 6px;
}
